<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.dat255.alarmclock"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon"
    			 android:label="@string/app_name">
    			 
        <activity android:name=".view.HomeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".view.OverviewActivity"
        		  android:label="@string/overview">
        		<intent-filter>
        			<action android:name="android.intent.action.OVERVIEWSCREEN" />
	        		<category android:name="andorid.intent.category.LAUNCHER"/>
        		</intent-filter>
        </activity>
        
		<activity android:name=".view.AlarmActivity"
				  android:label="@string/alarm">
        		<intent-filter>
	        		<action android:name="android.intent.action.ALARMSCREEN" />
	        		<category android:name="andorid.intent.category.LAUNCHER"/>
        		</intent-filter>
        </activity>
        
        <activity android:name=".view.GroupActivity"
        		  android:label="@string/group">
        		<intent-filter>
	        		<action android:name="android.intent.action.GROUPSCREEN" />
	        		<category android:name="andorid.intent.category.LAUNCHER"/>
        		</intent-filter>
        </activity>
        <activity android:name=".view.TriggerActivity"
        		  android:label="@string/app_name">
        		<intent-filter>
	        		<action android:name="android.intent.action.TRIGGERSCREEN" />
	        		<category android:name="andorid.intent.category.LAUNCHER"/>
        		</intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
</manifest>